form section{
    padding-bottom: 10px;
}

form{
    padding: 10px;
}

main{
    margin-left: 20%;
}

textarea{
    resize: none;
}

input[type="text"]{
    width: 100px;
}

.shapeCreation, canvas{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
}

.removeItems{
    display: inline-block;
    vertical-align: top;
}

button{
    display: block;
    margin-bottom: 5px;
}

#removeLastItem{
    width: 26px;
    height: 25px;
}

#addItem{
    width: 60px;
}

h1{
    font-size: 400%;
    margin: 0;
}